# Copyright (c) 2013-2016, Sebastian Linke

# Released under the Simplified BSD license
# (see LICENSE file for details).

include shcol/*.py
include shcol/helpers/*.py
include testsuite/*.py
include bin/*
include setup.py
include README.md
include LICENSE
